body{
  background: #CCCCFF;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}
h1{
  color: #14132a;
  text-align: center;
  width: 100%;
  display: block;
}
h1:hover{
  color:#553a70;
  text-align: center;
  width: 100%;
  display: block;
}
.assign{
  width: 20%;
  background-color: #b293d1;
  box-shadow: 8px 8px #14132a;
  display: block;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
.assign img{
  width: 200px;
  padding: 10px;
  border: 2px solid #372b82;
}
.assign img:hover {
  width: 200px;
  margin: 10px;
  border: 2px solid #d9d5f5;
}
a{
  text-decoration: none;
  color: #301934;
}
